{% extends 'base.html.twig' %}

{% block body %}
    <br><br>
    <div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Sujet">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea placeholder="Message.." class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Envoyer</button>
        </div>
    </div>

{% endblock %}